body{
color:##1c1e21;
background:#f0f2f5;
font-family:Helvetica,Arial,Sans-serif;
font-size:12px;
}
h1{
color:#1877f2;
text-align:center;
font-size:5em;
position:absolute;
top:25%;
left:10%;
letter-spacing:0.06px;
}
h2{
color:1c1e21;
font-size:30px;
font-weight:4;
position:absolute;
top:38%;
left:10%;
width:45%;
}
form input{
height:50px;
width:350px;
border:1px solid #dddfe2;
font-size:17px;
border-radius:7px;
margin-top:15px;
margin-bottom:5px;
margin-left:20px;
}

.input:focus{
-webkit-box-shadow:0px 0px 1px 1px #1877f2;
outline:none;
}

#box{
background-color:white;
position:absolute;
top:20%;
left:60%;
width:410px;
height:360px;
border-radius:10px;
}
#links{
position:absolute;
top:80%;
left:10%;
width:60%;
}
#login{
color:white;
font-size:24px;
font-weight:20;
height:50px;
width:350px;
background:#1877f2;
border-radius:7px;
border:none;
margin-top:10px;
margin-left:20px;
}
#forget{
color:#1877f2;
font-size:16px;
padding-left:120px;
}
#new{
background-color:rgb(66,183,42);
width:200px;
height:55px;
color:white;
border-radius:7px;
border:none;
font-size:17px;
font-weight:600;
margin-left:100px;
margin-top:-15px;}
hr{
width:380px;
}

#block{
font-weight:bold;
text-decoration:none;
color:black;
font-size:15px;
}

#oneline:{
position:relative;
top:380px;
left:80px;
}

#bottom{
background:white;
height:100px;
width:100%;
position:absolute;
top:700px;
font-size:12px;
color:grey;
}

a,li{
text-decoration:none;
list-style-type:none;
display:inline-block;
padding-right:5px;
padding-bottom:5px;
color:grey;
}
ul{
width:1000px;
height:40px;
padding-left:150px;
}

span{
position:absolute;
top:100px;
left:147px;
}